 .u-section-1 {
  background-image: linear-gradient(white, #dadcdb);
}

.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 734px;
  font-size: 2.25rem;
  margin: 55px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 722px;
  margin-top: 62px;
  margin-bottom: 40px;
  height: auto;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 579px;
  margin: 26px auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -321px auto 0 522px;
  padding: 6px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -277px 70px 0 649px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 74px 42px 0 621px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: 47px 165px 0 904px;
  padding: 13px 17px 13px 16px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: -68px 253px 0 816px;
  padding: 13px 17px 13px 16px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -53px auto 0 679px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 77px 220px 0 auto;
  padding: 13px 37px 14px 36px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 127px 628px 0 25px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 21px 10px 0 16px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 631px 0 22px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 21px 13px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 579px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-icon-2 {
  width: 84px;
  height: 84px;
  margin: -331px auto 0 512px;
  padding: 11px;
}

.u-section-1 .u-text-9 {
  margin: -287px 197px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 74px 52px 0 621px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: 76px auto 0 905px;
  padding: 13px 17px 13px 16px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: -68px auto 0 817px;
  padding: 13px 17px 13px 16px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: -53px auto 0 680px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 77px 217px 0 auto;
  padding: 13px 37px 14px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 470px;
    height: 477px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -220px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: 518px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 463px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 65px;
    margin-left: 804px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 153px;
    margin-left: 716px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 560px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 295px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -84px;
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 477px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -229px;
    margin-left: 422px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 473px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 705px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 617px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 561px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 365px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -108px;
    margin-left: 329px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 243px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 649px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 43px;
    margin-left: 606px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 429px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 333px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -122px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 233px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 365px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -117px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 485px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 397px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 430px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 274px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -17px;
    margin-left: 247px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 177px;
    margin-left: 118px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 469px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 469px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-left: 322px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 43px;
    margin-right: 53px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    margin-right: 53px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-2 {
    width: 527px;
    height: 535px;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -277px;
    margin-left: 242px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 36px;
    margin-right: 148px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 37px;
    margin-left: 73px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 52px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 217px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-left: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 34px;
    margin-right: -11px;
    margin-left: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 370px;
    margin-top: 52px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 173px;
    margin-top: 46px;
  }

  .u-section-1 .u-icon-1 {
    width: 33px;
    height: 33px;
    margin-top: -103px;
    margin-left: 144px;
    padding: 2px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -139px;
    margin-right: -27px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 196px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    margin-top: -227px;
    margin-right: 32px;
    margin-left: auto;
    padding: 4px 7px 4px 6px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1rem;
    margin-top: -37px;
    margin-right: 97px;
    margin-left: auto;
    padding: 4px 7px 5px 6px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 70px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 158px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 149px;
    height: 182px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-1 .u-icon-2 {
    width: 41px;
    height: 41px;
    margin-top: -111px;
    margin-left: 126px;
    padding: 7px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -136px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 188px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1rem;
    margin-top: -223px;
    margin-right: 52px;
    margin-left: auto;
    padding: 5px 6px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1rem;
    margin-top: -39px;
    margin-right: 117px;
    margin-left: auto;
    padding: 4px 6px 5px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -73px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 65px;
    margin-right: 25px;
  }
}